/*root variables*/
:root {
    --primary: #BC430D;
    --secondary: #F09410;
    --ascent2: #F0D0C7;
    --ascent1: #FEEAF0;
}

/*fonts*/
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url("assets/fonts/AeonikTRIAL-Bold.otf");
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url("assets/fonts/AeonikTRIAL-Regular.otf");
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url("assets/fonts/AeonikTRIAL-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--ascent2);

    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1 {
    color: var(--primary);
    font-family: aeonik;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.items {
    height: calc(100% - 60px);
    width: 100%;
    margin-top: 60px;
    background: var(--ascent1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    padding-top: 80px;
    position: absolute;
}

.item {
    height: 400px;
    width: 18%;
    background: var(--ascent1);
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    pointer-events: none;
}

.item h2 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: #FEEAF088;
    color: var(--primary);
    font-family: aeonik;
    padding: 5px;
    backdrop-filter: blur(5px);
}

.item:hover {
    transform: scale(0.98);
}

.item-detail {
    height: calc(100% - 60px);
    width: 100%;
    margin-top: 60px;
    background: var(--ascent1);
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    display: none;
    position: absolute;
}

.item-detail img {
    width: 100%;
    aspect-ratio: 16/9;
    height: 300px;
    object-fit: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    pointer-events: none;

}

.item-detail h2 {
    position: absolute;
    text-align: center;
    background-color: #FEEAF088;
    color: var(--primary);
    font-family: aeonik;
    padding: 5px;
    left: 1rem;
    top: 310px;
}

.item-detail .close {
    background: #ff0000;
    border: 1px solid var(--ascent1);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 1rem;
    top: 310px;
    color: var(--ascent1);
    cursor: pointer;
}

.item-detail .close:hover {
    transform: scale(0.95);
}