/*root variables*/
:root {
    /* --primary: #BC430D;
    --secondary: #F09410;
    --ascent2: #F0D0C7;
    --ascent1: #FEEAF0; */

    --primary: #710014;
    --secondary: #161616;
    --ascent2: #B38f6f;
    --ascent1: #F2f1ed;
}

/*fonts*/
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url("assets/fonts/AeonikTRIAL-Bold.otf");
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url("assets/fonts/AeonikTRIAL-Regular.otf");
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url("assets/fonts/AeonikTRIAL-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--ascent2);

    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1 {
    color: var(--primary);
    font-family: aeonik;
    font-weight: 700;
    text-align: center;
}

.items {
    height: calc(100% - 60px);
    width: 100%;
    margin-top: 60px;
    background: var(--ascent1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    padding-top: 80px;
    position: absolute;
}

.item {
    height: 400px;
    width: 18%;
    background: var(--ascent1);
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    pointer-events: none;
}

.item h2 {
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: #FEEAF088;
    color: var(--primary);
    font-family: aeonik;
    padding: 5px;
    backdrop-filter: blur(5px);
}

.item:hover {
    transform: scale(0.98);
}

.item-detail {
    height: calc(100% - 60px);
    width: 100%;
    margin-top: 60px;
    background: var(--ascent1);
    border-radius: 1rem;
    position: relative;
    display: none;
    position: absolute;
}

.item-detail img {
    width: 100%;
    aspect-ratio: 16/9;
    height: 200px;
    object-fit: cover;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    pointer-events: none;

}

.item-detail .page-title {
    position: absolute;
    text-align: center;
    background-color: #FEEAF088;
    color: var(--primary);
    font-family: aeonik;
    padding: 5px;
    left: 1rem;
    top: 10px;
}

.item-detail .close {
    background: var(--primary);
    border: 1px solid var(--ascent1);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 1rem;
    top: 10px;
    color: var(--ascent1);
    cursor: pointer;
}

.item-detail .close:hover {
    transform: scale(0.95);
}

.todo-list-detail .todo-list-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.todo-list-detail .todo-list-container .todo-list-form {
    background-color: var(--ascent2);
    height: 500px;
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    border: 5px solid var(--primary);
}

.todo-list-detail .todo-list-container .todo-list-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.todo-list-detail .todo-list-container .todo-list-form form input[type="text"],
textarea {
    padding: 15px 25px;
    font-size: 1.5rem;
    background-color: var(--ascent1);
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--primary);
    font-weight: 500;
    width: 100%;
}

.todo-list-detail .todo-list-container .todo-list-form form input[type='text'] {
    font-weight: 600;
    cursor: text;
}

.todo-list-detail .todo-list-container .todo-list-form form label {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    color: var(--primary);
    cursor: pointer;
}

.todo-list-detail .todo-list-container .todo-list-form form input[type="checkbox"] {
    cursor: pointer;
}

.todo-list-detail .todo-list-container .todo-list-form form button {
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--primary);
    color: var(--ascent1);
    padding: 1rem 2rem;
    border-radius: 5px;
    pointer-events: all;
    cursor: pointer;
}

.todo-list-detail .todo-list-container .todo-list-form form button:active {
    transform: scale(0.98);
}

.todo-list-detail .todo-list-container .todo-list-form .add-task-title {
    padding: 15px 25px;
    font-size: 25px;
    color: var(--primary);
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.todo-list-detail .todo-list-container .todo-list-items {
    background-color: var(--ascent2);
    height: 500px;
    width: 65%;
    padding: 1rem;
    border-radius: 1rem;
    border: 5px solid var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: auto;
}

.todo-list-detail .todo-list-container .todo-list-items details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-list-detail .todo-list-container .todo-list-items .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ascent1);
    border: 5px solid var(--primary);
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.todo-list-detail .todo-list-container .todo-list-items .task .task-info {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}

.todo-list-detail .todo-list-container .todo-list-items .task .task-title {
    font-size: 1.5rem;
    color: var(--primary);
}

.todo-list-detail .todo-list-container .todo-list-items .task .task-imp {
    font-size: 0.5rem;
    background-color: var(--primary);
    color: var(--ascent1);
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--ascent1);
}


.todo-list-detail .todo-list-container .todo-list-items .task .mark-complete-bt {
    font-size: 1rem;
    background-color: green;
    color: var(--ascent1);
    padding: 1rem 2rem;
    border-radius: 5px;
    pointer-events: all;
    cursor: pointer;
    width: 200px;
}

.todo-list-detail .todo-list-container .todo-list-items .task .completed-bt {
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--ascent1);
    padding: 1rem 2rem;
    border-radius: 5px;
    opacity: 50%;
    pointer-events: none;
    cursor: none;
    width: 200px;
}

.daily-planner-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daily-planner-detail .daily-planner-container {
    height: 100%;
    width: 98%;
    margin: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:0.8rem;
    padding: 1rem;
    background: var(--ascent2);
    border: 2px solid var(--primary);
    overflow: auto;
}

.daily-planner-detail .daily-planner-container .daily-planning-cell {
    background: var(--ascent1);
    /* border: 3px solid var(--primary); */
    padding: 0.5rem 1.5rem;
    width: 49%;
    border-radius: 0.5rem;
}

.daily-planner-detail .daily-planner-container .daily-planning-cell p {
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 5px;
}


.daily-planner-detail .daily-planner-container .daily-planning-cell input[type=text] {
    color:var(--primary);
    width:100%;
    height:40px;
    font-size: 1.5rem;
    outline: none;
    border:none;
    padding:10px;
    font-weight: 600;
    background-color: transparent;
}
